1. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

<table>
  <tr>
    <th>순위</th>
    <th>영화</th>
  </tr>
  <tr>
    <td>1</td>
    <td>닥터 스트레인지</td>
  </tr>
  <tr>
    <td>2</td>
    <td>스플릿</td>
  </tr>
  <tr>
    <td>3</td>
    <td>럭키</td>
  </tr>
</table>

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

2. 1번 문제의 movie_rank 리스트에 "배트맨"을 추가하세요

In [ ]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

3. 2번 문제까지 푸셨다면 `movie_rank`리스트에 `['닥터 스트레인지', '스플릿', '럭키', '배트맨']`가 추가 되어 있겠죠? **슈퍼맨**을 `닥터 스트레인지`와 `스플릿` 사이에 추가해 보세요

In [ ]:
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

4. 3 번까지 푸셨다면 `movie_rank` 리스트는 `movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']`입니다. **럭키**를 삭제해 주세요

In [ ]:
# 방법 1 - remove를 활용하면?
# movie_rank.remove("럭키")

# 방법 2 - del 키워드를 활용하면?
# del movie_rank[3]
# del movie_rank[-2]
# del movie_rank[movie_rank.index("럭키")]

5. lang1과 lang2 리스트가 있습니다. lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어 주세요

 ```python
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
```
실행 후

 ```python
langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

# lang1.extend(lang2) # += # set으로 다음에 union해도 괜찮을듯..
# langs = lang1

# lang1[:] + lang2[:]
# lang1+lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

6. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하세요
```python
nums = [1, 2, 3, 4, 5]
```
실행 후
```python
[5, 4, 3, 2, 1]
```

In [ ]:
nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

7. interest 리스트에는 아래의 데이터가 바인딩되어 있어요.
```python
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하세요.

 ```python
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

8. 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있습니다.

 ```python
string = "삼성전자/LG전자/Naver"
```
위 문자열을 아래처럼 리스트로 나누어 주세요
```python
['삼성전자', 'LG전자', 'Naver']
```

In [ ]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

9. 다음 코드의 실행 결과를 예상하세요
```python
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
```

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

10. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하세요

<table>
  <tr>
    <th>이름</th>
    <th>희망가격</th>
  </tr>
  <tr>
    <td>메로나</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>폴라포</td>
    <td>1200</td>
  </tr>
  <tr>
    <td>빵빠레</td>
    <td>1800</td>
  </tr>
</table>

In [ ]:
icecream_dict = {
    '메로나' : 1000,
    '폴라포' : 1200,
    "빵빠레" : 1800
}

icecream_dict

{'메로나': 1000, '빵빠레': 1800, '폴라포': 1200}

11. 위 딕셔너리에 아래 아이스크림 가격 정보를 추가하세요

<table>
  <tr>
    <th>이름</th>
    <th>희망가격</th>
  </tr>
  <tr>
    <td>죠스바</td>
    <td>1200</td>
  </tr>
  <tr>
    <td>월드콘</td>
    <td>1500</td>
  </tr>
</table>

In [ ]:
icecream_dict['죠스바'] = 1200
icecream_dict["월드콘"] = 1500

icecream_dict

{'메로나': 1000, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

12. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하세요
```python
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [ ]:
icecream_dict['메로나'] = 1300
icecream_dict

{'메로나': 1300, '빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

13. 다음 딕셔너리에서 메로나를 삭제하세요
```python
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [ ]:
del icecream_dict['메로나']
icecream_dict

{'빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

14. 다음 코드에서 에러가 발생한 원인을 설명하세요.
```python
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
```

In [ ]:
# 누가바는 icecream 딕셔너리에 없었어요...
# 누가바를 찾더라도 오류가 나지 않게 하려면??
icecream_dict['누가바']

KeyError: ignored

In [ ]:
print(icecream_dict.get("누가바"))

None

15. 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하세요
```python
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
```
실행 후
```python
print(icecream)
{'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}
```

In [ ]:
new_product = {'팥빙수':2700, '아맛나':1000}
icecream_dict.update(new_product)

In [ ]:
print(icecream_dict)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '팥빙수': 2700, '아맛나': 1000}

16 ~ 20. 다음 딕셔너리를 보고 문제를 풀어주세요
```python
order_dict = {
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원"]
  },
  'OW002': {
      'qty': 331,
      'price': 7200,
      'market': ["강남", "홍대", "청담"]
  },
  'OW003': {
      'qty': 73,
      'price': 180000,
      'market': ["성수", "건대", "역삼"]
  }
  
}
```

In [ ]:
order_dict = {
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원"]
  },
  'OW002': {
      'qty': 331,
      'price': 7200,
      'market': ["강남", "홍대", "청담"]
  },
  'OW003': {
      'qty': 73,
      'price': 180000,
      'market': ["성수", "건대", "역삼"]
  }
}

16. OW002 품목의 수량(qty)을 120으로 수정해 주세요

결과

```python
{
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원"]
  },
  'OW002': {
      'qty': 120,
      'price': 7200,
      'market': ["강남", "홍대", "청담"]
  },
  'OW003': {
      'qty': 73,
      'price': 180000,
      'market': ["성수", "건대", "역삼"]
  }
}
```

In [ ]:
ow002_order = order_dict["OW002"]
ow002_order

{'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120}

In [ ]:
ow002_order['qty'] = 120
ow002_order

{'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120}

In [ ]:
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 180000, 'qty': 73}}

In [ ]:
order_dict['OW002']['qty'] = 120
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 180000, 'qty': 73}}

17. OW003 품목의 가격(price)을 10% 할인가로 수정해 주세요

결과
```python
{
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원"]
  },
  'OW002': {
      'qty': 120,
      'price': 7200,
      'market': ["강남", "홍대", "청담"]
  },
  'OW003': {
      'qty': 73,
      'price': 162000,
      'market': ["성수", "건대", "역삼"]
  }
}
```

In [ ]:
ow003_price = order_dict["OW003"]["price"]
ow003_price

180000

In [ ]:
ow003_saled = ow003_price * 0.9
ow003_saled

162000.0

In [ ]:
order_dict["OW003"]["price"] = int(ow003_saled)
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 162000, 'qty': 73}}

In [ ]:
order_dict["OW003"]["price"] = 180000
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 180000, 'qty': 73}}

In [ ]:
order_dict["OW003"]["price"] = order_dict["OW003"]["price"] * 0.9
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 162000.0, 'qty': 73}}

18. 새로운 상품이 추가되어 OW001의 매장과 OW002이 있는 매장에 모두 납품 됩니다. OW001, OW002를 이용해 OW004를 위한 매장 정보를 딕셔너리에 넣어주세요,

* OW004의 qty : 131
* OW004의 price : 1100

결과
```python
{
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원"]
  },
  'OW002': {
      'qty': 331,
      'price': 7200,
      'market': ["강남", "홍대", "청담"]
  },
  'OW003': {
      'qty': 73,
      'price': 172000,
      'market': ["성수", "건대", "역삼"]
  },
  'OW004': {
      'qty': 131,
      'price': 1100,
      'market': ["성수", "건대", "이태원", "강남", "홍대", "청담"]
  }
}
```

In [ ]:
# 질문 풀이
order_dict['0W004']['price'] = order_dict['OW003']['price']

# 에러나는 이유?
# 애초에 order_dict 딕셔너리에 OW004가 없어요...
# order_dict['0W004']['price'] 를 사용하기 위해서는 애초에 OW004 키가 존재 했었어야 한다.

KeyError: ignored

In [ ]:
order_dict["OW004"] = {}
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 162000.0, 'qty': 73},
 'OW004': {}}

In [ ]:
order_dict["OW004"]["price"] = 1100
order_dict["OW004"]["qty"] = 131
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 162000.0, 'qty': 73},
 'OW004': {'price': 1100, 'qty': 131}}

In [ ]:
# OW001의 market과 OW002의 market 추가
order_dict["OW004"]["market"] = order_dict["OW001"]['market'] + order_dict["OW002"]['market']
order_dict

{'OW001': {'market': ['성수', '건대', '이태원'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담'], 'price': 7200, 'qty': 120},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 162000.0, 'qty': 73},
 'OW004': {'market': ['성수', '건대', '이태원', '강남', '홍대', '청담'],
  'price': 1100,
  'qty': 131}}

In [ ]:
order_dict = {
  'OW001': {
      'qty': 100,
      'price': 12000,
      'market': ["성수", "건대", "이태원", "강남"]
  },
  'OW002': {
      'qty': 331,
      'price': 7200,
      'market': ["강남", "홍대", "청담", "건대"]
  },
  'OW003': {
      'qty': 73,
      'price': 180000,
      'market': ["성수", "건대", "역삼"]
  }
}

ow001_market = set(order_dict["OW001"]["market"])
ow002_market = set(order_dict["OW002"]["market"])

new_market = list(ow001_market.union(ow002_market))

order_dict["OW004"] = {
    'qty' : 131,
    'price': 1100,
    'market': new_market
}

order_dict

{'OW001': {'market': ['성수', '건대', '이태원', '강남'], 'price': 12000, 'qty': 100},
 'OW002': {'market': ['강남', '홍대', '청담', '건대'], 'price': 7200, 'qty': 331},
 'OW003': {'market': ['성수', '건대', '역삼'], 'price': 180000, 'qty': 73},
 'OW004': {'market': ['강남', '홍대', '청담', '이태원', '건대', '성수'],
  'price': 1100,
  'qty': 131}}

19. OW001과 OW003 품목이 동시에 있는 매장은 어디인지를 판단할 수 있는 코드를 작성해 주세요 (교집합)

In [ ]:
ow001_market = set(order_dict["OW001"]["market"])
ow003_market = set(order_dict["OW003"]["market"])

ow001_market.intersection(ow003_market)

{'건대', '성수'}

20. OW003에는 존재하지만, OW001에는 없는 매장을 판단할 수 있는 코드를 작성해 주세요 (차집합)

In [ ]:
ow001_market = set(order_dict["OW001"]["market"])
ow003_market = set(order_dict["OW003"]["market"])

ow003_market.difference(ow001_market)

{'역삼'}