1. 다음 문자열로 되어있는 숫자들의 합을 구하세요

In [ ]:
num1 = "10.3"
num2 = "30"
num3 = "True"

print(float(num1) + int(num2) + bool(num3))

41.3

2. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
money = 48584
month = 36

print( money * month )

1749024

3. 다음 문자열에서 첫 번째와 세 번째 문자를 출력하세요

`letters = 'python'`

실행 후

`p t`

In [ ]:
letters = 'python'

print(letters[0], letters[2])

p t

4. 자동차 번호중 뒤 네 자리만 출력하세요

`license_plate = "54너 1219"`

실행 후

`1219`

In [ ]:
license_plate = "54너 1219"
print(license_plate[-4:])

1219

5. 아래 문자열에서 '홀'만 출력하세요

`string = '홀짝홀짝홀짝'`

실행 후

`홀홀홀`

In [ ]:
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

6. 아래 전화번호에서 하이푼('-')을 제거하세요

`phone_number = '010-1234-5678'`

실행 후

`010 1234 5678`

In [ ]:
phone_number = '010-1234-5678'
phone_number.replace("-", " ")

'010 1234 5678'

7. 아래 문자열에서 소문자 'a'만 대문자 'A'로 변경하세요

`str1='abcdefg123abcd1abdk'`

실행 후

`Abcdefg123Abcd1Abdk`

In [ ]:
str1='abcdefg123abcd1abdk'
str1.replace("a", "A")

'Abcdefg123Abcd1Abdk'