# 연산자란?

연산을 하는 기호. 언제나 연산을 하면 결과가 나온다.

## comparision operator( 비교 연산자 )

* == (같다.) `A == B  -->  A와 B가 같다.`
* <. > ( 작다, 크다 ) ` A > B  --> B가 A보다 작다?? x A가 B보다 크다 o `
* <=, >= ( 작거나 같다, 크거나 같다.)
* != ( 같지 않다.) --> `A != B  --> A와 B가 같으면 False, 다르면 True`

In [ ]:
a = 5
b = 4

print(a > b) # True
print(a < b) # False
print(a >= b ) # True
print(a >= b+1) # True
print(a >= b+2) # False
print(a > b+1) # False

print( a == b ) # False
print( a != b ) # True

True
False
True
True
False
False
False
True

비교 연산자의 결과물은 항상 `bool` 이라는 것을 알 수 있음!

## numbers (숫자형 연산자)
* 사칙연산
  - `+` : 덧셈
  * `-` : 뺄셈
  - `*` : 곱셈
  - `/` : 나눗셈
* 가감승제에 대한 연산자 우선순위 적용
  - 덧셈 뺄셈 보다 곱셈 나눗셈을 먼저 수행

In [ ]:
a = 5
b = 4
c = 3

print(a+b*c) # 17
print(2+2*2) # 6
print(2+2/2) # 6

17
6
3.0

asterisk(*)를 두번 쓰게 되면 n승을 의미한다.

In [ ]:
2**8

256

In [ ]:
3**2

9

수학과 비슷하게 괄호를 이용하면 연산자의 우선순위를 무시할 수 있다.

In [ ]:
print((2+2)*2)

8

In [ ]:
a = 5
b = 3

print(a/b)

1.6666666666666667

In [ ]:
# 몫 구하기
print(a//b)

1

In [ ]:
# 나머지 구하기
print(a%b)

2

In [ ]:
a*b

15

## 대입 연산(고급)

In [ ]:
a = 1
print(a)

1

In [ ]:
b = a + 1
print(b)

2

In [ ]:
a = a + 3
print(a)

4

In [ ]:
a = 1
print(a)

1

In [ ]:
a += 3 # a = a + 3
print(a)

4

In [ ]:
a = 3
a **= 3 # a = a**3
print(a)

27

## 문자열 연산
문자열 연산은 +, * 을 활용한다.

In [ ]:
str1 = "Hello"
str2 = "Bye"

print(str1+str2) # 문자열에서의 덧셈 연산은 문자열을 이어준다.

HelloBye

In [ ]:
str3 = str1 * 3
print(str3)

HelloHelloHello

1. name="ㅁㅁㅁ"
 * 제 이름은 "ㅁㅁㅁ" 입니다.

2. print를 한번만 써서 다음을 출력. 
 * mon/tue/wed

In [ ]:
# 1번 문제
name = "소민호"
print('제 이름은 "'+name+'" 입니다.')

제 이름은 "소민호" 입니다.

In [ ]:
# 2번 문제
print("mon", "tue", "wed", sep="/")

mon/tue/wed