# 컬렉션이란?
- 모음 ( 값을 모아 낼 것이다. )
- 파이썬 에서는 파이썬에 존재하는 모든 것을 모아낼 수 있다.

## 컬렉션의 종류
- list
- tuple
- set
- dict

list를 tuple보다 압도적으로 많이 쓴다.

In [ ]:
list1 = [] # 리스트를 하나 만들었는데, 모아낸게 아무것도 없어요
print(list1)

[]

In [ ]:
# 1,2,3,4,5 순서대로 정수를 모아냈다.
list2 = [3, 1, 4, 2, 5, 2] # sequence
print(list2)

[3, 1, 4, 2, 5, 2]

### list의 특징
1. 자료 저장의 순서가 유지 된다. ( 시퀀스의 특징 )
2. 중복 저장을 허용한다.
3. 자료 변경이 가능하다. ( mutable )

리스트를 구성하는 자료들을 **원소(element, item)**라고 한다.

In [ ]:
# 인덱스를 통한 접근
list2[-1] = "hello"
print(list2)

[3, 1, 4, 2, 5, 'hello']

In [ ]:
print("list2의 길이 : {}".format(len(list2)))

list2의 길이 : 6

In [ ]:
# 리스트는 중복 원소를 허용 한다.
list3 = [1,1,2,3,7,7,6,6,4]
print(list3)

[1, 1, 2, 3, 7, 7, 6, 6, 4]

In [ ]:
# 리스트는 원소의 아무 데이터 타입을 모을 수 있다.
list4 = ['minho', 'so', 11, 330, 12.1, [10, 20]]
print(list4)

['minho', 'so', 11, 330, 12.1, [10, 20]]

### tuple의 특징

1. 리스트와 비슷하게, 자료 저장의 순서가 유지되며, 중복도 허용한다.
2. 튜플은 리스트와 리스트와 다르게 변경이 불가능(immutable) 하다.

In [ ]:
# 비어있는 튜플 만들기
tup1 = ()

In [ ]:
# 튜플에 원소 채우기
tup2 = (1, 2, 3, 7, 4, 1)
print(tup2)

(1, 2, 3, 7, 4, 1)

In [ ]:
tup2[1] = "hello" # X

TypeError: ignored

In [ ]:
tup3 = (1, 3, 5, 4, 1)
list_tup = list(tup3) # list() 를 활용하면 시퀀스를 리스트화 시킬 수 있다.

print(list_tup)

In [ ]:
list_tup[3] = 100
print(list_tup)

In [ ]:
tup_list = tuple(list_tup)
print(tup_list)

시퀀스 끼리는 상호 변경이 가능하다.

In [ ]:
text1 = "sentence"
print(list(text1))

In [ ]:
print(text1)

앞에 있는 n만 i로 바꾸기

senitence

In [ ]:
text1[2] = "i"

문자열도 튜플처럼 immutable한 자료형이다.

In [ ]:
# 리스트도 시퀀스니까, 인덱싱과 슬라이싱이 가능

list6 = [3, 1, 4, 2, 6, 1]
print(list6[-2])

In [ ]:
list6[1 : 3]

In [ ]:
list6[::2]

### 리스트의 여러가지 함수

* append()
 * 리스트의 끝에 원소를 추가

In [ ]:
list1 = []
print(list1)

list1.append(10) # 데이터 추가
print(list1)

list1.append(20) # 데이터 추가
print(list1)

list1.append(30)
print(list1)

[]
[10]
[10, 20]
[10, 20, 30]

In [ ]:
list1.append([40, 50])
print(list1)

print(len(list1))

[10, 20, 30, [40, 50]]
4

* extend
 - 리스트 확장(연장)
 - `+=` 연산자로도 가능

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.append(b)
a

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* insert()로 항목 추가하기
 * 리스트의 원하는 위치에 추가하기
 * 추가시킬 위치 인덱스, 추가시킬 원소의 값

In [ ]:
a = [1, 2, 3, 4, 5]
a.insert(1, 40) # 인덱스 1번에 40을 끼워 넣겠다.

a

[1, 40, 2, 3, 4, 5]

교체가 아니고 끼워 넣는다는 개념

* remove()
 * 값을 사용해서 항목을 삭제

In [ ]:
a = [1, 2, 'hello', 4, 'bye']
a.remove('hello')
print(a)

[1, 2, 4, 'bye']

* del 키워드
 - 인덱스를 통해서 삭제

In [ ]:
a = [1, 2, 'hello', 4, 'bye']
del a[2]# 리스트 a에서 2번 인덱스의 원소를 삭제

print(a)

[1, 2, 4, 'bye']

In [ ]:
a = [1, 'hello', 3, 'hello', 'bye']
a.remove('hello') # 인덱스의 번호가 낮은것 부터 삭제
print(a)

[1, 3, 'hello', 'bye']

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del b[2:5] # 슬라이싱 기법을 활용해서 삭제할 원소의 범위를 지정할 수 있다.
print(b)

[1, 2, 6, 7, 8, 9, 10]

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del b[::2]
print(b)

[2, 4, 6, 8, 10]

* pop
 - 지우고자하는 원소를 반환 후 삭제

In [ ]:
a = [1, 2, 3, 4, 5]
d = a.pop(2) # 2번 인덱스의 원소를 뽑아주고, 삭제함

print(d)
print(a)

3
[1, 2, 4, 5]

* index
 - 찾고자 하는 값의 인덱스 반환

In [ ]:
a = [1, 6, 1, 6, 19, 20]
a.index(1) # 1이 위치한 인덱스를 찾겠다.

0

In [ ]:
a.index(19)

4

* in 키워드
 - 리스트 내의 해당 값이 존재하는지 여부를 확인
 - value in [list]
 - True / False 중 한가지로 반환

In [ ]:
a = [1, 2, 3, 4, 5, 6]

print( 3 in a ) # 3이 a list에 들어있냐? -> True
print( 7 in a ) # -> False

True
False

# 개념 정리

1. list, tuple의 공통점, 차이점 이해
 - 공통점
    - 원소 저장의 순서가 유지 된다.
    - 중복 원소 저장을 허용
 - 차이점
    - 리스트는 원소를 변경할 수 있다. ( mutable )
    - 튜플은 원소를 변경할 수 없다. ( immutable )

2. Sequence 개념에 대한 이해
 - 시퀀스는 연속적으로 자료가 저장되어 있는 개념
 - 인덱스를 사용할 수 있다. ( 인덱스 == 오프셋 )
 - 시퀀스는 반복 가능하다. ( iterable )

3. list에서 사용할 수 있는 함수는 외우는게 좋습니다.
 - 제일 자주 사용되는 함수
   - `append, del, in`
 - 생각보다 `remove`는 자주 사용하지 않았던것 같아요.
 - `pop, extend, insert, index` 같은 경우는 자주 사용되어지지는 않기 때문에 알아만 놓아도 상관 없어요

In [ ]:
a = [1, 2, 3]
b = a

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [ ]:
b[-1] = 30
print(b)

[1, 2, 30]

In [ ]:
print(a)

[1, 2, 30]

In [ ]:
a = [1, 2, 3]
b = a.copy()

b[-1] = 30
print(a)
print(b)

[1, 2, 3]
[1, 2, 30]

In [ ]:
a = [1, 2, 3]
b = a[:] # copy()와 똑같은 효과를 갖는다.

b[-1] = 30
print(a)
print(b)

[1, 2, 3]
[1, 2, 30]

* sort, sorted
 - 리스트 정렬
 - sort : 리스트를 내부적으로 정렬
 - sorted : 리스트의 정렬된 복사본

In [ ]:
a = [5,3,2,1,6,7,9,10,4,8]
a.sort()

In [ ]:
a = [5,3,2,1,6,7,9,10,4,8]
sorted(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(a)

[5, 3, 2, 1, 6, 7, 9, 10, 4, 8]

In [ ]:
# 정렬의 기본 기준은 오름차순

a.sort(reverse=True) # 내림차순 정렬
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a.sort(reverse=False) # 오름차순 정렬 a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## tuple

In [ ]:
a = [1, 2, 3] # 리스트
b = (1, 2, 3) # 튜플

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
# 리스트는 내부 원소를 바꿀 수 있다. mutable
a[0] = 100
print(a)

[100, 2, 3]

In [ ]:
# 튜플은 내부 원소를 바꿀 수 없다. immutable
b[0] = 100
print(b)

TypeError: ignored

In [ ]:
# 튜플을 그럼 언제 사용하는가..
# 쉼표를 활용해서 변수나 값을 나열하면 자동으로 튜플이 만들어 집니다.

c = 100, 200, 300, 400 # packing
c

(100, 200, 300, 400)

In [ ]:
# tuple unpacking
c_1, c_2, c_3, c_4 = (100, 200, 300, 400)

print(c_1)
print(c_2)
print(c_3)
print(c_4)

100
200
300
400

In [ ]:
c_1 = c[0]
c_2 = c[1]
c_3 = c[2]
c_4 = c[3]


c_1, c_2, c_3, c_4 = c

In [ ]:
c_1, c_2 = c

ValueError: ignored

In [ ]:
c_1, c_2, c_3, c_4, c_5 = c

ValueError: ignored

In [ ]:
# c의 원소가 4갠데 2번째랑 4번째만 쓸거에요....
_, c_2, __, c_4 = c

# 파이썬의 관례 상 언더바(_) 로만 되어있는 변수는 사용하지 않을 값이라는 것을 의미

100

# 문자열과 리스트의 관계

In [ ]:
text = "sentence"
text[2] = "i"

TypeError: ignored

In [ ]:
text_list = list(text)
text_list

['s', 'e', 'n', 't', 'e', 'n', 'c', 'e']

In [ ]:
text_list[2] = "i"
text_list

['s', 'e', 'i', 't', 'e', 'n', 'c', 'e']

In [ ]:
str(text_list) # 리스트 모양 자체를 문자열로 만들어 버림..

"['s', 'e', 'i', 't', 'e', 'n', 'c', 'e']"

In [ ]:
# 리스트를 문자열로 다시 바꾸는 방법 -> join
''.join(text_list)

'seitence'

* join
 - 리스트를 다시 문자열로 바꾸는 방법
 - split과 반대의 개념

In [ ]:
'★'.join(text_list)

's★e★i★t★e★n★c★e'

In [ ]:
'#'.join(text_list)

's#e#i#t#e#n#c#e'

In [ ]:
t_list = ["사과", "바나나", "멜론"]
"#"+"#".join(t_list)

'#사과#바나나#멜론'

In [ ]:
# 문제
singer_list = ["트와이스", "블랙핑크", "방탄소년단"]

# 여기에서 "와이"를 추출하기
singer_list[0][1:3]

'와이'

In [ ]:
twice = singer_list[0]
print(twice)

트와이스

In [ ]:
twice[1:3]

'와이'

# 언패킹 정리

In [ ]:
number_tup1 = 1, 2, 3, 4, 5 # 튜플이 만들어 져요
number_tup1

(1, 2, 3, 4, 5)

In [ ]:
number_tup2 = (4, 5, 6, 7, 8)
number_tup2

(4, 5, 6, 7, 8)

튜플을 만들어 내는 과정을 packing 이라고 한다.

In [ ]:
n1, n2, n3, n4, n5 = number_tup1 # 언패킹이라고 합니다.

In [ ]:
tup_tup = ( (1,2), (3,4) )

tup1, tup2, tup3, tup4 = tup_tup

ValueError: ignored

In [ ]:
tup1, tup2 = tup_tup

In [ ]:
tup1

(1, 2)

In [ ]:
tup2

(3, 4)

In [ ]:
n1, n2 = tup1
n3, n4 = tup2

In [ ]:
n1

1

In [ ]:
n2

2

In [ ]:
n3

3

In [ ]:
n4

4

In [ ]:
(n1, n2), (n3, n4) = tup_tup

In [ ]:
n1

1

In [ ]:
n2

2

In [ ]:
n3

3

In [ ]:
n4

4

In [ ]:
tup_tup = ( ( 1, ( 2, 3 ) ), 4, (5, 6), 7, 8, 9) # 이걸 언패킹 해보세요 (변수가 9개)

(n1, (n2, n3)), n4, (n5, n6), n7, n8, n9 = tup_tup

print(n1, n2, n3, n4, n5, n6, n7, n8, n9)

1 2 3 4 5 6 7 8 9