# for문
- 순회(iter)제 반복
- 순회할 수 있는 자료구조에서 순서대로 원소를 조회한 후 뽑아낸다.
- 단순하게 자료구조(list, tuple, set)에서 순서대로 자료(원소 - item)를 꺼낸다는 개념으로 생각하면 쉽다.

In [ ]:
a = [1, 7, 3, 4, 8]

for item in a: # 리스트 a에 있는 원소를 순서대로 꺼내서 item 변수에 집어 넣겠다.
  print(item)

1
7
3
4
8

In [ ]:
for i in 10:
  print(i)

TypeError: ignored

## 문자열 순회하기

In [ ]:
for ch in "hello!":
  print(ch)

h
e
l
l
o
!

## 리스트 & 튜플 순회

In [ ]:
# a = [1, 10, 3, 4, 5]
a = (1, 10, 3, 4, 5)
for num in a:
  # 홀수랑 짝수를 따로 검사하면서 출력
  # 홀짝 검사하기 -> 어떠한 수를 2로 나눠서 그 나머지가 0이면 짝수, 1이면 홀수

  if num % 2 == 0:
    print(f"{num}은 짝수입니다.")
  else:
    print(f"{num}은 홀수입니다.")

1은 홀수입니다.
10은 짝수입니다.
3은 홀수입니다.
4은 짝수입니다.
5은 홀수입니다.

## dict 순회하기
* dict의 경우 기본적으로 순회만 하게 되면 key값을 가져온다.
* keys() 사용하면 key값만 순회
* values() 사용하면 value값만 순회
* items() tuple 형태로 key, value를 동시에 순회 (언패킹까지 가능)

In [ ]:
meal = {
    'breakfast': '라면',
    'lunch': '피자',
    'dinner': '닭똥집'
}

In [ ]:
for key in meal:
  print(key,"==>",meal[key])

breakfast ==> 라면
lunch ==> 피자
dinner ==> 닭똥집

In [ ]:
# key만 순회하기
for key in meal.keys():
  print(key)

breakfast
lunch
dinner

In [ ]:
# value만 순회하기
for value in meal.values():
  print(value)

라면
피자
닭똥집

In [ ]:
# key, value를 동시에 순회
for key, value in meal.items():
  print(key, value)

breakfast 라면
lunch 피자
dinner 닭똥집

In [ ]:
for item in meal.items():
  print(item)

('breakfast', '라면')
('lunch', '피자')
('dinner', '닭똥집')

# 중첩된 for문

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

for i in a:
  for j in b:
    print(i*j)

4
5
6
8
10
12
12
15
18

## 연습문제 - 구구단 출력
2단 ~ 9단 까지

In [ ]:
dans = [2, 3, 4, 5, 6, 7, 8, 9]
times = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for dan in dans:
  print(f"{dan}단 입니다.")
  for time in times:
    print(f"{dan} * {time} = {dan * time}")
  print()

# range 함수
* 숫자 리스트를 손쉽게 만들 때 도움을 준다.
* slice기법에 들어가는 내용과 똑같다 `range(start, end, step)`

In [ ]:
dans = list(range(2, 10, 2))
print(dans)

[2, 4, 6, 8]

1 ~ 100 까지의 숫자가 들어있는 리스트

In [ ]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# enumerate 함수
* 순회 가능한 자료구조에서 값과 인덱스를 같이 표시하고 싶을 때 사용하는 함수
* 기본적으로는 for에서 매우 자주 사용한다.

In [ ]:
str1 = "Hello"

for item in str1:
  print(item)

H
e
l
l
o

In [ ]:
for index, ch in enumerate("Hello"):
  print(index, ch)

0 H
1 e
2 l
3 l
4 o