# 문자열이란 문자들을 순서대로 열거한 것이 문자열

* 문자열은 문자의 시퀀스(Sequence)이다 라고 표현한다.
* 시퀀스 : 연결되어 있다
* 시퀀스의 유래
 * 연극의 Scene 에서 유래
* 순서가 있게 연결되어 있기 때문에 순번이라는 것이 존재 한다.
 * index라고 한다.
 * index는 0부터 시작 한다.

* 시퀀스라는 데이터의 특징
 * 첫 번째 데이터 부터 마지막 데이터까지 차례대로의 순서를 가진다.
 * 첫 번째 시작 데이터는 0번 인덱스를 갖는다.

* 파이썬 한정 -1 인덱스는 제일 마지막 인덱스다 ( 역 인덱스 )

In [ ]:
str1 = "Hello World"
print(str1)

Hello World

In [ ]:
# 시퀀스의 길이를 잴 수 있는 함수
len(str1)

11

In [ ]:
# 시퀀스 내의 인덱스를 통해 접근을 할 때는 [ ] - bracket 을 사용한다.
print(str1[0]) # str1 이라는 시퀀스의 인덱스 0인 데이터를 가지고 오겠다.

H

In [ ]:
print(str1[6]) # W

W

In [ ]:
print(str1[10])

d

In [ ]:
print(str1[-1]) # -1 인덱스는 언제나 제일 마지막 데이터를 의미한다.

d

In [ ]:
print(str1[-3]) # r

r

In [ ]:
print(str1[11])  # 11이라는 숫자는 str1의 최대 인덱스를 넘어가는 숫자임 -> OutOfBounds

IndexError: ignored

In [ ]:
print(str1[-11]) # H

H

## 여러 개의 인덱스를 동시에 사용하기

* **문자열 슬라이싱(slicing)** ★★★★★
 - `[start : end : step]`
 - 슬라이싱은 전체 문자열에서 부분 문자열을 추출하기 위해 사용

In [ ]:
str1

'Hello World'

In [ ]:
str1[0 : 3] # 0번 인덱스에서 시작해서 3번 인덱스 이전(2가 되겠죠?)까지 추출

'Hel'

In [ ]:
str1[3 : 8] # start ~ end-1 까지를 추출

'lo Wo'

start, end는 생략이 가능하다.

start를 생략하면 자동으로 0으로 세팅, end를 생략하면 자동으로 문자열의 길이를 세팅

In [ ]:
str1[:3] # str1[0:3]

'Hel'

In [ ]:
str1[6 : ] # str1[6 : len(str1)]

'World'

In [ ]:
len(str1)

11

In [ ]:
str1[6 : 11]

'World'

In [ ]:
str1[:] # str1[ 0 : len(str1)]

'Hello World'

In [ ]:
str1[ : : 3]

'HlWl'

In [ ]:
str1[ : : -1] # 역방향 스텝 : reverse

'dlroW olleH'

* **문자열 함수**
 * 문자열은 여러가지 기능 제공을 위한 함수를 내장 하고 있다.

In [ ]:
str1 = "hello world"

* upper, lower
 * upper : 모든 문자를 대문자
 * lower : 모든 문자를 소문자

In [ ]:
print(str1.upper())

HELLO WORLD

In [ ]:
str2 = "BYE"
print(str2.lower())

bye

* replace
 * 특정 문자 치환

In [ ]:
a = 'hello world'
a.replace('h', 'j') # a의 문자 중 h를 j로 바꾸겠다.

'jello world'

* format
 * 문자열내의 특정한 값을 **변수**로부터 초기화하여 동적으로 문자열을 생성

In [ ]:
name = "소민호"
height = 183.1

# 제 이름은 소민호이구요, 키는 180.1cm 에요
print("제 이름은 " + name + "이구요 키는 " + str(height) +"cm에요") # 실수를 문자열로 형 변환을 시켜줌
print("제 이름은 {}이구요, 키는 {}cm이에요".format(name, height))

제 이름은 소민호이구요 키는 183.1cm에요
제 이름은 소민호이구요, 키는 183.1cm이에요

In [ ]:
# 제가 사는 곳은 xxx 이구요, 지금 온도는 ooo 도에요
location = "서울"
temperature = 12

print("제가 사는 곳은 {}이구요, 지금 온도는 {}도에요".format(location, temperature))

제가 사는 곳은 서울이구요, 지금 온도는 12도에요

* split
 * 문자열을 특정한 문자열로 구분하여(delimiter)로 나눈 리스트가 등장한다.

In [ ]:
sentence = "오늘 날씨가 참 좋습니다."
sentence.split(' ') # 공백으로 나누기

['오늘', '날씨가', '참', '좋습니다.']

In [ ]:
sentence = "#주말#주말에도일함#고생많으시죠#파이썬해봐요"
sentence.split("#")

['', '주말', '주말에도일함', '고생많으시죠', '파이썬해봐요']

In [ ]:
sentence = "오늘  날씨가 좋아요."
sentence.split(" ")

['오늘', '', '날씨가', '좋아요.']

In [ ]:
sentence.split("")

ValueError: ignored

In [ ]:
sentence.split()

['오늘', '날씨가', '좋아요.']

## 형 변환(Type Casting)

 * 정수 -> 문자열로
 * 정수 -> 실수로
 * 실수 -> 문자열로
 * 논리 -> 정수로


 ---

 * 정수 : int
 * 실수 : float
 * 문자열 : str
 * 논리 : bool

In [ ]:
a = 10

float(a) # a는 정수인데, 이걸 실수로 바꾸겠다. 10.0

10.0

In [ ]:
str(a)

'10'

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

In [ ]:
b = 10.5
int(b) # 실수를 정수로 바꾸면 정수에서는 표현할 수 없었던 소숫점 자리수가 제거됩니다.

10

In [ ]:
str(b)

'10.5'

In [ ]:
bool(b)

True

In [ ]:
int(True)

1

In [ ]:
int(False)

0

In [ ]:
True+True

2

정답을 맞추면 True, 못맞추면 False. 몇 퍼센트의 정확도지?

## 문자열을 다른 자료형으로 바꾸는 과정을 파싱(Parsing)

언제 필요하냐?
 * 네이버 영화에서 평점을 크롤링 했음
 * 크롤링하는 모든 데이터는 기본적으로 str(문자열)형이에요
 * 평점의 평균을 구하고자 하면 -> 문자열로 되어있는 평점을 float으로 바꿔줘야 한다.

In [ ]:
temp1 = "20.3"
float(temp1) + 3

23.3

In [ ]:
temp2 = "True"
bool(temp2) + True

2

In [ ]:
temp3 = "abc"
float(temp3)

ValueError: ignored

In [ ]:
temp4 = "10"
float(temp4)

10.0

In [ ]:
temp5 = "1.123"
int(float(temp5))

1

실수는 정수를 포함한다.

In [ ]:
float("1") # "1"은 정수형식의 문자열이다. float은 int를 포함 하기 때문에 "1"을 1.0으로 바꾸는 데 별 상관이 없어요.

1.0

In [ ]:
int("1.123") # "1.123"은 실수형식의 문자열. int는 float를 포함하는 관계가 아니기 때문에 다이렉트로 변경이 안된다. -> 정수는 실수형식으로 표현할 수 없어요.

ValueError: ignored