## 문자열이란
문자가 열거 되어 있으면 문자열(string - str)이라고 합니다.

열거가 되어있다. -> 순서가 있다. (Sequential)

* 여러 개의 문자를 순서대로 나열한 것
* 문자열은 ' (작은 따옴표), " (큰 따옴표) 사이에 문자를 넣어서 생성

In [ ]:
str1 = 'Hello'
str2 = "World"

print(str1, str2)

Hello World

문자열로 I'm Student를 표현 하고 싶다

In [ ]:
a = "I'm Student"
print(a)

I'm Student

문자열로 나는 말했다. "안녕하세요"

In [ ]:
a = '나는 말했다. "안녕하세요"'
print(a)

나는 말했다. "안녕하세요"

문자열로 I said, "I'm student."

In [ ]:
a = """I said, "I'm Student"."""
print(a)

I said, "I'm Student"

In [ ]:
a = "I said, \"I'm Student\""
print(a)

I said, "I'm Student"

## 개행

엔터키를 한번 친 것 같은 효과

In [ ]:
str3 = "안녕하세요\n반갑습니다."
print(str3)

안녕하세요
반갑습니다.

In [ ]:
str3 = "안녕하세요\n반갑습니다.\n저는\n소민호\n입니다."
print(str3)

안녕하세요
반갑습니다.
저는
소민호
입니다.

In [ ]:
# 3개짜리 따옴표를 쓰면 개행도 문제 없음
str4 = """안녕하세요
반갑습니다.
저는
소민호
입니다."""

print(str4)

안녕하세요
반갑습니다.
저는
소민호
입니다.

In [ ]:
str4

'안녕하세요\n반갑습니다.\n저는\n소민호\n입니다.'

#### 연습문제 1

`s = "hello", t = "python"` 이라는 문자열이 각각 할당 되어 있습니다.

이 두 변수를 이용해서 `hello! python`을 출력해 보세요

In [ ]:
s = "hello"
t = "python"

print(s, t, sep="! ")
print(s + "!", t)

hello! python
hello! python

#### 연습문제 2

네이버에 삼성전자를 검색하고

* 전일종가
* 고가
* 저가
* 거래량

네 항목을 변수에 넣어서 print로 출력하세요

In [ ]:
전일종가 = 82100
고가 = 82800
저가 = 81000
거래량 = 25469274

print(전일종가, 고가, 저가, 거래량)

82100 82800 81000 25469274

In [ ]:
test = 'abcdefghi'
test[-3 :  : -1]

'gfedcba'