In [ ]:
a = 10
b = 20

a + b

30

# 함수란?
- 어떠한 기능을 사용할 때 마다 코드를 작성하는 것이 아닌, 한번 만들어 놓고 필요할 때 호출(call)해서 사용하는 것
- 무심코 많은 곳에서 함수를 사용해 왔어요
  - 인스턴스 함수
    - 문자열 관련된 함수 - `replace`, `format`, `lower()`, `upper()` 등등...
    - 자료구조 관련된 함수 - `append`, `expand` 등등...

  - 내장 함수 (built-in function)
    - `len`, `range`, `print`
    - python 내부에 이미 정의(구현)이 되어 있는 함수

In [ ]:
# 내장 함수의 예
a = [1, 2, 3, 4]
length = len(a)
print(length)

4

In [ ]:
# 인스턴스 함수의 예
a.append(5)
print(a)

[1, 2, 3, 4, 5]

# 함수의 정의(define)
- 함수 정의를 할 때는 제일 앞에 `def`키워드를 활용한다.
- `def` 키워드 뒤에 함수의 이름
- 함수의 이름 뒤에는 소괄호`()`를 이용하여 parameter(또는 argument)를 어떻게 받을지를 작성한다.

# 함수의 구현
- 정의된 함수 뒤에 콜론(`:`)을 붙여 수행할 코드 블럭을 만들어 놓는다.

In [ ]:
def add(x, y):
  n = x + y
  return n

In [ ]:
result = add(100, 200)
print(result)

300

In [ ]:
def mul(x, y):
  n = x * y
  return n

In [ ]:
print(add(10, 20))
print(mul(10, 20))

30
200

# 함수가 사용되어지는 과정
- 함수가 호출되면 실행의 흐름이 호출자(caller)에서 함수(callee)로 변경된다.

In [ ]:
def div(x, y):
  print(f"나누기 수행 : {x} / {y}")
  return x / y

print("Hello")
c = div(10, 3)
print(c)

Hello
나누기 수행 : 10 / 3
3.3333333333333335

# 함수의 네이밍
* 함수 이름으로부터 기능이 명시
* 함수 이름도 변수의 이름처럼 항상 의미를 파악할 수 있는 이름으로 지을 것

In [ ]:
def a():
  print("haha")

def print_haha():
  print("haha")

In [ ]:
def b(x, y):
  print(f"{x} + {y}")

def print_x_y(x, y):
  print(f"{x} + {y}")

변수 이름은 명사 처럼 지어주는 것이 좋고, 함수 이름은 문장처럼 지어주는 것이 좋아요

# parameter (argument)
- 함수에 전달되는 입력값
- 입력이 필요하지 않을 수도 있고, 1개만 있을 수도 있고, 여러 개의 입력이 존재할 수도 있다.
- parameter로 전달 되는 것은 파이썬에 존재하는 모든 것 ( 타입이랑 상관 x )
- 파이썬의 경우, 타입 명시가 없기 때문에, 함수 생성 시, 의도된 파라미터의 타입에 맞게 입력을 전달하는 것이 중요하다.
- **파라미터를 전달 할 때** 정의된 순서에 따라 값을 전달하는 것이 매우 중요

In [ ]:
def sub(x, y):
  print(f"빼기 수행 : {x} - {y}")
  return x - y

# x에 10이 들어가야 하고, y에 7이 들어가야 한다면, 순서에 맞게 넣어주는 것이 중요
a = sub(10, 7)
print(a)

빼기 수행 : 10 - 7
3

In [ ]:
b = sub(10, 0.6)
print(b)

빼기 수행 : 10 - 0.6
9.4

## default parameter( 기본 인자 설정 )
- 함수의 파라미터에 기본값 지정 가능
- 파라미터를 전달하지 않으면, 사전에 지정한 값으로 자동 설정됨

In [ ]:
def print_param(x, y=10, z=5):
  print(f"x : {x} / y : {y} / z : {z}")

print_param(1, 2, 3) # x, y, z 모두에 값을 전달
print_param(1) # x에만 값을 전달하고 있다.
print_param(1, 100)

x : 1 / y : 2 / z : 3
x : 1 / y : 10 / z : 5
x : 1 / y : 100 / z : 5

### default parameter의 예시

* **디폴트 파라미터 뒤에 (오른쪽) 일반 파라미터가 위치할 수 없다.!!!**
- 올바른 예시
 > ```def test(a, b, c=1)```

 > ```def test(a, b=1, c=2)```

 > ```def test(a=1, b=2, c=3)```

- 올바르지 않은 예시
 > ```def test(a, b=1, c)```

 > ```def test(a=1, b, c)```

 > ```def test(a=1, b=1, c)```

In [ ]:
def test(x, y=3, z):
  print(f"x : {x} / y : {y} / z : {z}")

test(10, 20, 30) # 사실상 별 상관 없음..
test(10, 30) # 파라미터가 채워지는 것은 왼쪽부터 채워 지는데, 그럼 z는...?

def test2(x=1, y=2, z):
  print(f"x : {x} / y : {y} / z : {z}")

test2(10) # y는 default 라고 치고, z는...?

SyntaxError: ignored

## keyword parameter ☆☆☆☆☆
* 함수의 파라미터에 값을 전달할 때 함수의 파라미터 이름을 직접 명시하여 전달이 가능하다.
* 파라미터의 이름을 사용하지 않으면 기본적으로 순서에 맞게 전달

In [ ]:
def test(x, y, z=30):
  print(f"x : {x} / y : {y} / z : {z}")

test(10, 20, 30)
test(x=10, z=30, y=20)

x : 10 / y : 20 / z : 30
x : 10 / y : 20 / z : 30

In [ ]:
test(y=20, x=10)

x : 10 / y : 20 / z : 30

In [ ]:
test(y=20, 10)

SyntaxError: ignored

In [ ]:
test(10, y=20)

TypeError: ignored

In [ ]:
test(10, y=20)

x : 10 / y : 20 / z : 30

소민호의 케이스
- positional argument : 절대 비어서는 안될 값, 반드시 필수적으로 들어가야 할 값
- 있어도 되고, 없어도 되는 옵션은 keyword argument로
- 자주 바뀌지 않는 옵션을 설정할 때는 default argument로

In [ ]:
'''
  함수의 목적 : 회원 정보를 출력

  userid : 사용자의 id (필수)
  height : 키 (기존 값 가지고 있다가, 필요할 때 설정)
  national : 국적(잘 바뀌지 않음)
'''
def print_user_info(userid, height='180cm', weight="???", is_print_weight=False, national="대한민국"):
  if is_print_weight:
    print(userid, height, weight ,national)
  else:
    print(userid, height ,national)

In [ ]:
print_user_info("mhso", height="180.5", is_print_weight=True)
print_user_info("mhso", height="190.1cm")

mhso 180.5 ??? 대한민국
mhso 190.1cm 대한민국

## return(리턴)
* 기본적으로는 함수의 종료를 명시( 함수 멈추기 )
 - return 옆에 값이나 수식이 있으면 해당 값을 호출자(caller)에게 반환(전달)
 - return만 존재하면 함수를 멈추는 역할만 하기 때문에 `None`을 반환
 - return이 없는 경우 함수의 코드 블록이 종료되면 함수가 종료된 것으로 간주.. 이때도 None을 반환

In [ ]:
def foo():
  return "hello"

print(foo())

hello

In [ ]:
def goo():
  a = 10
  b = 20
  print(a+b)
  return # 여기서 함수를 종료 하고 None을 반환
  print(a*b) # 위에서 이미 return에 의해 함수의 실행이 끝났기 때문에 a*b는 실행이 안된다.

goo()

30

In [ ]:
result = goo()
print(result)

30
None

In [ ]:
def koo():
  print("koo")
  print("hello")

result = koo()
print(result) #None

koo
hello
None

In [ ]:
def mul2(x, y):
  if x > 10:
    return x * y
  # 여기에 else가 없어도 되는 이유는?
  # 생각해 보세요.. 메일 주세요
  # 함수를 만들어서 가지고 놀아보세요...

  return (x + 2) * y

### multiple return (복수 개의 값을 리턴)
* tuple로 자동 변환 되어서 값을 리턴

In [ ]:
# x, y를 받아서 덧셈의 결과와 곱셈의 결과를 동시에 리턴하는 함수
def add_mul(x, y):
  add_result = x + y
  mul_result = x * y

  # 다른 언어라면 절대 하지 못하는 행위. 파이썬이라 가능한 표현
  return add_result, mul_result

In [ ]:
print(add_mul(10, 20))

(30, 200)

In [ ]:
r1, r2 = add_mul(10, 20)

print(r1)
print(r2)

30
200

In [ ]:
def return_many_val():
  return 10, 10.1, "hello", {'hello' : 'bye'}

# 관례상 사용하지 않는 변수는 _, __ 를 사용해서 사용하지 않는 변수라는 것을 알려준다.
return_many_val()

(10, 10.1, 'hello', {'hello': 'bye'})

In [ ]:
# 언패킹을 할 때 _ 나 __ 등을 활용해서 사용하지 않는 변수로 처리
v1, _, v2, __ = return_many_val()
print(v1)
print(v2)

10
hello

## 가변 길이 파라미터(variable length argument)
-  전달되는 파라미터의 개수가 고정적이지 않을 때 사용
- ***args** 로 보통 표현한다.
- 대표적인 예시로 print, format 함수를 우리는 사용해 보았습니다.

In [ ]:
print("a","b", 10, 30, 40, 10)

a b 10 30 40 10

In [ ]:
print("a","b", 10)

a b 10

In [ ]:
def test(*args):
  print("들어온 파라미터 : {}".format(args))
  # 파라미터가 args로 들어오면 튜플로 변경된다.
  for item in args:
    print(item)

test(10,2,30)

들어온 파라미터 : (10, 2, 30)
10
2
30

## 키워드 파라미터(keyword parameter)
- **이 붙은 상태의 파라미터를 의미
- 함수를 호출하면 파라미터의 이름과 값을 함께 전달이 된다.
 - 딕셔너리 형태로 파라미터가 결정된다.

In [ ]:
def test2(**kwargs):
  print("들어온 파라미터 : {}".format(kwargs))

  for item in kwargs.items():
    print(item)

In [ ]:
test2(
    name="소민호",
    age=34,
    email='mhso.developer@gmail.com'
)

들어온 파라미터 : {'name': '소민호', 'age': 34, 'email': 'mhso.developer@gmail.com'}
('name', '소민호')
('age', 34)
('email', 'mhso.developer@gmail.com')

In [ ]:
def test3(*args, **kwargs):
  print(args)
  print(kwargs)

test3(10, 20, 30, a=1, b=2, c=3)

(10, 20, 30)
{'a': 1, 'b': 2, 'c': 3}