# 스케일링도 데이터의 전처리에 해당한다.

## 전처리 1. Normalize( 정규화 )
column 간에 다른 **min, max**값을 가지는 경우, **정규화**를 통해서 최대 / 최소의 척도를 하나로 맞춰 주는 작업
* 최소를 0으로, 최대를 1로 설정
------
* 네이버 영화 평점 ( 0 ~ 10 ) : [2, 4, 6, 8, 10]
* 넷플릭스 영화 평점 ( 0 ~ 5 ) : [1, 2, 3, 4, 5]

In [ ]:
import pandas as pd
movie_score = pd.DataFrame({
    "naver":[0, 2, 4, 6, 8],
    "netflix":[1, 2, 3, 4, 5]
})

movie_score

   naver  netflix
0      0        1
1      2        2
2      4        3
3      6        4
4      8        5

In [ ]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()

In [ ]:
movie_score_scaled = min_max_scaler.fit_transform(movie_score)

pd.DataFrame(movie_score_scaled, columns=["Naver Scaled", "Netflix Scaled"])

   Naver Scaled  Netflix Scaled
0          0.00            0.00
1          0.25            0.25
2          0.50            0.50
3          0.75            0.75
4          1.00            1.00

머신러닝에서는 이제 Naver, Netflix의 점수를 동일하게 가치를 매긴다.

## 표준화( Standard Scaling )
**평균이 0, 표준편차가 1**이 되도록 변환

In [ ]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

이상치 데이터 보정에 좋다.

In [ ]:
import numpy as np
x = np.arange(10)
# 이상치 강제 추가
x[9] = 1000

In [ ]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [ ]:
std_scaled_x = std_scaler.fit_transform(x.reshape(-1, 1))

In [ ]:
std_scaled_x.mean(), std_scaled_x.std()

(4.4408920985006264e-17, 1.0)

In [ ]:
std_scaled_x

array([[-0.34670856],
       [-0.34336196],
       [-0.34001535],
       [-0.33666874],
       [-0.33332213],
       [-0.32997553],
       [-0.32662892],
       [-0.32328231],
       [-0.3199357 ],
       [ 2.9998992 ]])

|살인|절도|
|:--:|:--:|
| 3| 10|
| 5| 100|

살인 * 0.8 + 절도 * 0.2