In [ ]:
import pandas

이렇게 불러오면 사용하기 불편(pandas 라는 단어 자체가 귀찮아요)

In [ ]:
import pandas as pd

# pandas의 Series, DataFrame
* 한 종류의 데이터를 모아 놓은 것 - Series
* Series가 여러 개 모이면 DataFrame이 된다.

## Series

In [ ]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
temp_list = [1, 2, 3, 4]
pd.Series(temp_list)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
temp_list = [1.1, 3.2, 0.3, 1.54]
pd.Series(temp_list)

0    1.10
1    3.20
2    3.00
3    1.54
dtype: float64

In [ ]:
s1 = pd.Series(temp_list)
type(s1)

pandas.core.series.Series

## DataFrame
* Series가 여러 개 모여서 하나의 데이터 시트를 표현하면 DataFrame이 된다.

### 방법 1. list로만 만들기( 권장 x )
* 컬럼의 이름을 따로 지정해야 할 상황이 생김

In [ ]:
sample_data = [["소민호", 34, 180.1],
               ["김땡땡", 33, 175.5],
               ["박땡땡", 28, 183.2]]

pd.DataFrame(sample_data)

     0   1      2
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

In [ ]:
df1 = pd.DataFrame(sample_data)
df1

     0   1      2
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

In [ ]:
# 제목 컬럼을 리스트로 지정하기
df1.columns=["이름", "나이", "키"]
df1

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

### 방법 2. dict로 만들기 - ver 1
* 자주 사용하는 방법 중 하나

In [ ]:
# dict의 key - 컬럼의 이름이 된다. (컬럼명)
# dict의 value - "반드시" 리스트로 이루어져 있어야 한다.(시리즈)
# 모든 value의 리스트는 반드시 길이가 맞아야 한다.

In [ ]:
sample_data = {
    "이름" : ["소민호", "김땡땡", "박땡땡"],
    "나이" : [34, 33, 28],
    "키"   : [180.1, 175.5, 183.2]
}

df2 = pd.DataFrame(sample_data)
df2

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

In [ ]:
sample_data = {
    "이름" : ["소민호", "김땡땡", "박땡땡"],
    "나이" : [34, 33, 28, 33],
    "키" : [180.1, 175.5, 183.2]
}

df2 = pd.DataFrame(sample_data)
df2

ValueError: ignored

### 방법 2. dict로 만들기 - ver 2
* json 크롤링 했을 때, 데이터를 바로 DataFrame화 시키고 싶을 때 사용
* json을 이용해 데이터를 가져올 때 일반적인 모습
```javascript
json_data = {
        "result":[
          {
            "이름": "소민호",
            "나이": 34,
            "키": 180.1
          },
          {
            ...
          },
          {
            ...
          }
        ],
        ...
}
```
```python
result = json_data['result']
[
    {
      "이름": "소민호",
      "나이": 34,
      "키": 180.1
    },
    {
      ...
    },
    {
      ...
    }
]
```

In [ ]:
sample_data = [
  {
    "이름" : "소민호",
    "나이" : 34,
    "키": 180.1
  },
  {
    "이름": "김땡땡",
    "나이" : 33,
    "키": 175.5
  },  
  {
    "이름" : "박땡땡",
    "나이" : 28,
    "키": 183.2
  }
]

sample_data

[{'나이': 34, '이름': '소민호', '키': 180.1},
 {'나이': 33, '이름': '김땡땡', '키': 175.5},
 {'나이': 28, '이름': '박땡땡', '키': 183.2}]

In [ ]:
pd.DataFrame(sample_data)

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2