In [ ]:
import pandas as pd

In [ ]:
filepath="/content/drive/MyDrive/ICT-COG/02. 데이터 분석/pandas/data/korean-idol.csv"

df = pd.read_csv(filepath)
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

# Series의 Type

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

* object : 일반 문자열 타입( 숫자가 아닌 타입 )
* float : 실수
* int : 정수
* category: 카테고리 타입( 잘 안씀 )
* datetime: 시간

## 타입 변환
* type casting
* type 변환을 하기 위해 `astype` 함수를 사용한다.

In [ ]:
# 키의 데이터 타입 확인
df['키'].dtypes

dtype('float64')

In [ ]:
df['키'].astype(int)

ValueError: ignored

에러 발생! `'키'` 컬럼엔 NaN이 존재하기 때문..

In [ ]:
df['키'] = df['키'].fillna(-1)

In [ ]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df['키'].astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7      -1
8     179
9     167
10     -1
11    183
12    175
13    176
14    174
Name: 키, dtype: int64

데이터 타입이 float -> int 로 바뀌었다

## 날짜 변환하기(datetime 타입)
* 날짜 변환을 위해 **to_datetime** 메소드 사용

In [ ]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [ ]:
df['생년월일'] = pd.to_datetime(df['생년월일'])
df['생년월일']

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

datetime 타입으로 바꿨을 때의 이점
* 년, 월, 일, 요일 등등의 날짜 정보를 바로 추출이 가능
* datetime의 약어인 **`dt`**에서 다양한 정보를 추출 가능

In [ ]:
df['생년월일'].dt.dayofweek # 요일

월요일 : 0, 일요일이 : 6

In [ ]:
df['생년월일'].dt.year # 연도

In [ ]:
df['생년월일'].dt.month # 월

In [ ]:
df['생년월일'].dt.day # 일

In [ ]:
df['생년월일'].dt.hour   # 시
df['생년월일'].dt.minute # 분
df['생년월일'].dt.second # 초

In [ ]:
df['생년월일'].dt.weekofyear # 현재 날짜가 몇 주차 인가