In [ ]:
import pandas as pd
import numpy as np

# 예시용 데이터 프레임 만들기

In [ ]:
df = pd.DataFrame({
    "통계" : [80, 100, 90, 75, 80],
    "미술" : [50, 70, 80, 90, 100],
    "체육" : [100, 70, 75, 95, 80]
})

df

    통계   미술   체육
0   80   50  100
1  100   70   70
2   90   80   75
3   75   90   95
4   80  100   80

## 데이터 프레임의 기초적인 연산
연산을 할 때의 데이터 타입은 항상 **수치형 데이터 타입**이어야 한다.

In [ ]:
df['통계'].dtypes

dtype('int64')

### Column과 Column간 연산

In [ ]:
df['통계'] + df['미술'] + df['체육']

0    230
1    240
2    245
3    260
4    260
dtype: int64

In [ ]:
df['통계'] - df['미술']

0    30
1    30
2    10
3   -15
4   -20
dtype: int64

In [ ]:
df['미술'] * df['체육']

0    5000
1    4900
2    6000
3    8550
4    8000
dtype: int64

In [ ]:
df['통계'] / df['미술']

0    1.600000
1    1.428571
2    1.125000
3    0.833333
4    0.800000
dtype: float64

In [ ]:
df['통계'] % df['체육']

0    80
1    30
2    15
3    75
4     0
dtype: int64

## Column과 숫자 간 연산
* Column에 대한 브로드캐스팅 연산이 일어난다.

In [ ]:
df['통계'] + 10

0     90
1    110
2    100
3     85
4     90
Name: 통계, dtype: int64

In [ ]:
df['통계'] - 10

0    70
1    90
2    80
3    65
4    70
Name: 통계, dtype: int64

기타 등등의 사칙연산도 가능하다.

## axis를 기준으로한 집계

In [ ]:
df.sum(axis=0)

통계    425
미술    390
체육    420
dtype: int64

In [ ]:
df.sum(axis=1)

0    230
1    240
2    245
3    260
4    260
dtype: int64

# NaN값이 존재할 경우 연산

In [ ]:
df = pd.DataFrame({
    "통계" : [80, 100, np.nan, 75, 80],
    "미술" : [50, np.nan, 80, 90, 100],
    "체육" : [100, 70, 75, np.nan, 80]
})

df

      통계     미술     체육
0   80.0   50.0  100.0
1  100.0    NaN   70.0
2    NaN   80.0   75.0
3   75.0   90.0    NaN
4   80.0  100.0   80.0

In [ ]:
df['통계'] / 2

0    40.0
1    50.0
2     NaN
3    37.5
4    40.0
Name: 통계, dtype: float64

In [ ]:
1000 / df['통계']

0    12.500000
1    10.000000
2          NaN
3    13.333333
4    12.500000
Name: 통계, dtype: float64

In [ ]:
df['통계'] / np.nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

nan값과 어떤 값 사이의 연산이 일어나면 그 결과도 nan이 된다.

# 행의 개수가 다른 경우

In [ ]:
df1 = pd.DataFrame({
    "통계" : [80, 100, 90, 75, 80],
    "미술" : [50, 70, 80, 90, 100],
    "체육" : [100, 70, 75, 80, 80]
})

df2 = pd.DataFrame({
    "통계" : [80, 100, 90, 75, 80, 100],
    "미술" : [50, 70, 80, 90, 100, 90],
    "체육" : [100, 70, 75, 80, 80, 80]
})

df1 * df2

        통계       미술       체육
0   6400.0   2500.0  10000.0
1  10000.0   4900.0   4900.0
2   8100.0   6400.0   5625.0
3   5625.0   8100.0   6400.0
4   6400.0  10000.0   6400.0
5      NaN      NaN      NaN

데이터가 모자라서 계산이 안된쪽의 결과가 NaN이 된다.